.about {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.about-container {
  max-width: 95%;
  width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-container img {
  width: 420px;
  height: auto;
}

.about-us-info {
  max-width: 600px;
}

/*About Us Text*/

.about-us-info h1 {
  color: var(--secondary);
  font-size: 80px;
  margin-bottom: 20px;
}

.about-us-info h5 {
  color: var(--secondary);
  font-size: 25px;
  margin-bottom: 25px;
  letter-spacing: 2px;
}

.about-us-info h5 span {
  font-weight: bold;
  color: var(--third);
}

.about-us-info p {
  color: var(--secondary);
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 40px;
}

.glow-button {
  padding: 10px 20px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  z-index: 0;
  border-radius: 12px;
  position: relative;
  background-color: var(--secondary);
  transition: background-color 0.3s ease;
}

.glow-button:hover {
  background-color: var(--third);
}
